# Data Transformation

I have:
- data frame containing Landkreis IDs
- data frame containing Landkreis Locations
- data frame containing Weather Data

Goal:
- assign every Landkreis ONE weather station
- combine the three data frames into one

In [146]:
from pathlib import Path
import pandas as pd
import math
from tqdm import tqdm

In [2]:
path_base = Path.cwd()

# export path
path_export = Path.joinpath(path_base, "exports")
path_export.mkdir(parents=True, exist_ok=True)

In [3]:
# import the data from Notebook 01
df_temp = pd.read_pickle(Path.joinpath(path_export, "temp.pkl"))
df_temp_stations = pd.read_pickle(Path.joinpath(path_export, "temp_stations.pkl"))
df_prec = pd.read_pickle(Path.joinpath(path_export, "prec.pkl"))
df_prec_stations = pd.read_pickle(Path.joinpath(path_export, "prec_stations.pkl"))
df_sun = pd.read_pickle(Path.joinpath(path_export, "sun.pkl"))
df_sun_stations = pd.read_pickle(Path.joinpath(path_export, "sun_stations.pkl"))

## Integrate Geodata into Landkreise Frame

In [5]:
# load RKI Covid-19 data in order to build a Landkreis-ID lookup table
df_rki = pd.read_csv("https://www.arcgis.com/sharing/rest/content/items/f10774f1c63e40168479a1feb6c7ca74/data")
df_landkreise = df_rki.drop_duplicates('Landkreis')[['Landkreis', 'IdLandkreis', 'Bundesland', 'IdBundesland']]
df_landkreise

                      Landkreis  IdLandkreis          Bundesland  IdBundesland
0                  SK Flensburg         1001  Schleswig-Holstein             1
33                      SK Kiel         1002  Schleswig-Holstein             1
284                   SK Lübeck         1003  Schleswig-Holstein             1
437               SK Neumünster         1004  Schleswig-Holstein             1
500             LK Dithmarschen         1051  Schleswig-Holstein             1
...                         ...          ...                 ...           ...
126133   LK Saalfeld-Rudolstadt        16073           Thüringen            16
126194  LK Saale-Holzland-Kreis        16074           Thüringen            16
126246      LK Saale-Orla-Kreis        16075           Thüringen            16
126359                 LK Greiz        16076           Thüringen            16
126778      LK Altenburger Land        16077           Thüringen            16

[412 rows x 4 columns]

In [6]:
# load geographical data of the Landkreise in Germany
df_districts_geo = pd.read_csv("https://public.opendatasoft.com/explore/dataset/landkreise-in-germany/download/?format=csv&timezone=Europe/Berlin&lang=en&use_labels_for_header=true&csv_separator=%3B", ";")
df_districts_geo
# Our districtId is in column "Cca 2"

,Geo Point,Geo Shape,Id 0,ISO,Name 0,Id 1,Name 1,Id 2,Name 2,Hasc 2,Ccn 2,Cca 2,Type 2,Engtype 2,Nl Name 2,Varname 2
0,"47.9925229956,7.81807596197","{""type"": ""Polygon"", ""coordinates"": [[[7.790447...",86,DEU,Germany,1,Baden-Württemberg,12,Freiburg im Breisgau,DE.BW.FB,0,8311.0,Stadtkreis,District,NaN,NaN
1,"48.5964037974,10.527764168","{""type"": ""Polygon"", ""coordinates"": [[[10.61448...",86,DEU,Germany,2,Bayern,68,Dillingen an der Donau,DE.BY.DD,0,9773.0,Landkreis,District,NaN,NaN
2,"49.4362114486,11.0827553426","{""type"": ""MultiPolygon"", ""coordinates"": [[[[11...",86,DEU,Germany,2,Bayern,107,Nürnberg,DE.BY.NR,0,9564.0,Kreisfreie Stadt,District,NaN,NaN
3,"49.2159614099,11.5665579197","{""type"": ""Polygon"", ""coordinates"": [[[11.46063...",86,DEU,Germany,2,Bayern,110,Neumarkt in der Oberpfalz,DE.BY.NO,0,9373.0,Landkreis,District,NaN,NaN
4,"47.8443777181,12.1087247511","{""type"": ""Polygon"", ""coordinates"": [[[12.05431...",86,DEU,Germany,2,Bayern,122,Rosenheim,DE.BY.RH,0,9163.0,Kreisfreie Stadt,District,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,"49.416649982,8.36068108599","{""type"": ""Polygon"", ""coordinates"": [[[8.353994...",86,DEU,Germany,11,Rheinland-Pfalz,323,Rhein-Pfalz-Kreis,DE.RP.RZ,0,7338.0,Landkreis,District,NaN,NaN
399,"49.762938832,6.65505102152","{""type"": ""Polygon"", ""coordinates"": [[[6.734675...",86,DEU,Germany,11,Rheinland-Pfalz,328,Trier,DE.RP.TI,0,7211.0,Kreisfreie Stadt,District,NaN,NaN
400,"51.4256710773,11.865474038","{""type"": ""MultiPolygon"", ""coordinates"": [[[[11...",86,DEU,Germany,13,Sachsen-Anhalt,349,Saalekreis,DE.ST.SL,0,15088.0,Landkreis,District,NaN,NaN
401,"51.8201400674,12.7015882396","{""type"": ""Polygon"", ""coordinates"": [[[12.42280...",86,DEU,Germany,13,Sachsen-Anhalt,352,Wittenberg,DE.ST.WT,0,15091.0,Landkreis,District,NaN,NaN
402,"50.7484595538,12.0740705739","{""type"": ""Polygon"", ""coordinates"": [[[12.18996...",86,DEU,Germany,16,Thüringen,387,Greiz,DE.TH.GE,0,16076.0,Landkreis,District,NaN,NaN

In [149]:
df_lk = pd.merge(df_landkreise, df_districts_geo, left_on="IdLandkreis", right_on="Cca 2")[['Landkreis', 'Name 2', 'Type 2','IdLandkreis', 'Bundesland', 'Geo Point']]
df_lk = df_lk.rename(columns={'Name 2': 'Name kurz', 'Type 2': 'Typ'})
df_lk

,Landkreis,Name kurz,Typ,IdLandkreis,Bundesland,Geo Point
0,SK Flensburg,Flensburg,Kreisfreie Stadt,1001,Schleswig-Holstein,"54.7849933768,9.43852835486"
1,SK Kiel,Kiel,Kreisfreie Stadt,1002,Schleswig-Holstein,"54.3248406926,10.1322443646"
2,SK Lübeck,Lübeck,Kreisfreie Stadt,1003,Schleswig-Holstein,"53.8723167338,10.7272831058"
3,SK Neumünster,Neumünster,Kreisfreie Stadt,1004,Schleswig-Holstein,"54.0811244365,9.98448195474"
4,LK Dithmarschen,Dithmarschen,Kreis,1051,Schleswig-Holstein,"54.1329109614,9.10781447873"
...,...,...,...,...,...,...
394,LK Saalfeld-Rudolstadt,Saalfeld-Rudolstadt,Landkreis,16073,Thüringen,"50.637797959,11.3091162493"
395,LK Saale-Holzland-Kreis,Saale-Holzland-Kreis,Landkreis,16074,Thüringen,"50.904172137,11.7315307817"
396,LK Saale-Orla-Kreis,Saale-Orla-Kreis,Landkreis,16075,Thüringen,"50.5808480206,11.7105737336"
397,LK Greiz,Greiz,Landkreis,16076,Thüringen,"50.7484595538,12.0740705739"
398,LK Altenburger Land,Altenburger Land,Landkreis,16077,Thüringen,"50.9564246614,12.3991313423"

In [150]:
# split up column "Geo Point" into two seperate numerical columns
df_lk['latitude'], df_lk['longitude'] = df_lk['Geo Point'].str.split(',', 1).str
df_lk[['latitude', 'longitude']] = df_lk[['latitude', 'longitude']].apply(pd.to_numeric)
df_lk.drop(columns=['Geo Point'], inplace=True)
df_lk

/Users/fynnwithake/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

,Landkreis,Name kurz,Typ,IdLandkreis,Bundesland,latitude,longitude
0,SK Flensburg,Flensburg,Kreisfreie Stadt,1001,Schleswig-Holstein,54.784993,9.438528
1,SK Kiel,Kiel,Kreisfreie Stadt,1002,Schleswig-Holstein,54.324841,10.132244
2,SK Lübeck,Lübeck,Kreisfreie Stadt,1003,Schleswig-Holstein,53.872317,10.727283
3,SK Neumünster,Neumünster,Kreisfreie Stadt,1004,Schleswig-Holstein,54.081124,9.984482
4,LK Dithmarschen,Dithmarschen,Kreis,1051,Schleswig-Holstein,54.132911,9.107814
...,...,...,...,...,...,...,...
394,LK Saalfeld-Rudolstadt,Saalfeld-Rudolstadt,Landkreis,16073,Thüringen,50.637798,11.309116
395,LK Saale-Holzland-Kreis,Saale-Holzland-Kreis,Landkreis,16074,Thüringen,50.904172,11.731531
396,LK Saale-Orla-Kreis,Saale-Orla-Kreis,Landkreis,16075,Thüringen,50.580848,11.710574
397,LK Greiz,Greiz,Landkreis,16076,Thüringen,50.748460,12.074071
398,LK Altenburger Land,Altenburger Land,Landkreis,16077,Thüringen,50.956425,12.399131

In [151]:
df_temp_stations

,station_id,start_date,end_date,altitude,latitude,longitude,name,state
0,3,1950-04-01,2011-03-31,202,50.7827,6.0941,Aachen,Nordrhein-Westfalen
1,44,2007-04-01,2020-05-02,44,52.9336,8.2370,Großenkneten,Niedersachsen
2,52,1976-01-01,1988-01-01,46,53.6623,10.1990,Ahrensburg-Wulfsdorf,Schleswig-Holstein
3,71,2009-12-01,2019-12-31,759,48.2156,8.9784,Albstadt-Badkap,Baden-Württemberg
4,73,2007-04-01,2020-05-02,340,48.6159,13.0506,Aldersbach-Kriestorf,Bayern
...,...,...,...,...,...,...,...,...
653,14138,2009-09-15,2015-12-31,73,52.1655,14.1224,Falkenberg (Grenzschichtmessfeld),Brandenburg
654,15000,2011-04-01,2020-05-02,231,50.7983,6.0244,Aachen-Orsbach,Nordrhein-Westfalen
655,15207,2013-11-01,2020-05-02,317,51.2835,9.3590,Schauenburg-Elgershausen,Hessen
656,15444,2014-09-01,2020-05-02,593,48.4418,9.9216,Ulm-Mähringen,Baden-Württemberg
657,15555,2016-05-01,2020-05-02,816,47.8761,10.5848,Kaufbeuren-Oberbeuren,Bayern

### Landkreise that are not covered by this dataset
The RKI dataset gives data for 412 Landkreise, however, the dataset from _opendatasoft_ provides geospatial coordinates only for 399 of them.

The Landkreise for which no geospatial data exists will be neglected in the following. If we have a look at them, we see that its mostly the districts of Berlin that are special, so we treat Berlin as a whole in the future:

In [152]:
# some of the Landkreise are not covered by BOTH datasets, so they will be omitted
pd.concat([df_lk, df_landkreise]).drop_duplicates(['IdLandkreis'], keep=False)

,Landkreis,Name kurz,Typ,IdLandkreis,Bundesland,latitude,longitude,IdBundesland
6354,LK Göttingen,NaN,NaN,3159,Niedersachsen,NaN,NaN,3.0
110881,SK Berlin Mitte,NaN,NaN,11001,Berlin,NaN,NaN,11.0
111614,SK Berlin Friedrichshain-Kreuzberg,NaN,NaN,11002,Berlin,NaN,NaN,11.0
112032,SK Berlin Pankow,NaN,NaN,11003,Berlin,NaN,NaN,11.0
112577,SK Berlin Charlottenburg-Wilmersdorf,NaN,NaN,11004,Berlin,NaN,NaN,11.0
113192,SK Berlin Spandau,NaN,NaN,11005,Berlin,NaN,NaN,11.0
113414,SK Berlin Steglitz-Zehlendorf,NaN,NaN,11006,Berlin,NaN,NaN,11.0
113862,SK Berlin Tempelhof-Schöneberg,NaN,NaN,11007,Berlin,NaN,NaN,11.0
114420,SK Berlin Neukölln,NaN,NaN,11008,Berlin,NaN,NaN,11.0
115016,SK Berlin Treptow-Köpenick,NaN,NaN,11009,Berlin,NaN,NaN,11.0
115304,SK Berlin Marzahn-Hellersdorf,NaN,NaN,11010,Berlin,NaN,NaN,11.0
115603,SK Berlin Lichtenberg,NaN,NaN,11011,Berlin,NaN,NaN,11.0
115841,SK Berlin Reinickendorf,NaN,NaN,11012,Berlin,NaN,NaN,11.0

### Add Göttingen
As _Geo Point_ I take the coordinates of the city of Göttingen.

In [153]:
df_lk = pd.concat([df_lk, df_landkreise[df_landkreise['IdLandkreis'] == 3159]])
df_lk.set_index('IdLandkreis', inplace=True)
df_lk

,Landkreis,Name kurz,Typ,Bundesland,latitude,longitude,IdBundesland
IdLandkreis,,,,,,,
1001,SK Flensburg,Flensburg,Kreisfreie Stadt,Schleswig-Holstein,54.784993,9.438528,NaN
1002,SK Kiel,Kiel,Kreisfreie Stadt,Schleswig-Holstein,54.324841,10.132244,NaN
1003,SK Lübeck,Lübeck,Kreisfreie Stadt,Schleswig-Holstein,53.872317,10.727283,NaN
1004,SK Neumünster,Neumünster,Kreisfreie Stadt,Schleswig-Holstein,54.081124,9.984482,NaN
1051,LK Dithmarschen,Dithmarschen,Kreis,Schleswig-Holstein,54.132911,9.107814,NaN
...,...,...,...,...,...,...,...
16074,LK Saale-Holzland-Kreis,Saale-Holzland-Kreis,Landkreis,Thüringen,50.904172,11.731531,NaN
16075,LK Saale-Orla-Kreis,Saale-Orla-Kreis,Landkreis,Thüringen,50.580848,11.710574,NaN
16076,LK Greiz,Greiz,Landkreis,Thüringen,50.748460,12.074071,NaN
16077,LK Altenburger Land,Altenburger Land,Landkreis,Thüringen,50.956425,12.399131,NaN
3159,LK Göttingen,NaN,NaN,Niedersachsen,NaN,NaN,3.0

In [154]:
df_lk.loc[3159, 'Name kurz'] = "Göttingen"
df_lk.loc[3159, 'Typ'] = "Landkreis"
df_lk.loc[3159, 'latitude'] = 51.540120
df_lk.loc[3159, 'longitude'] = 9.930627

df_lk.loc[3159]

Landkreis        LK Göttingen
Name kurz           Göttingen
Typ                 Landkreis
Bundesland      Niedersachsen
latitude              51.5401
longitude             9.93063
IdBundesland                3
Name: 3159, dtype: object

In [155]:
df_lk.reset_index(inplace=True)
df_lk

,IdLandkreis,Landkreis,Name kurz,Typ,Bundesland,latitude,longitude,IdBundesland
0,1001,SK Flensburg,Flensburg,Kreisfreie Stadt,Schleswig-Holstein,54.784993,9.438528,NaN
1,1002,SK Kiel,Kiel,Kreisfreie Stadt,Schleswig-Holstein,54.324841,10.132244,NaN
2,1003,SK Lübeck,Lübeck,Kreisfreie Stadt,Schleswig-Holstein,53.872317,10.727283,NaN
3,1004,SK Neumünster,Neumünster,Kreisfreie Stadt,Schleswig-Holstein,54.081124,9.984482,NaN
4,1051,LK Dithmarschen,Dithmarschen,Kreis,Schleswig-Holstein,54.132911,9.107814,NaN
...,...,...,...,...,...,...,...,...
395,16074,LK Saale-Holzland-Kreis,Saale-Holzland-Kreis,Landkreis,Thüringen,50.904172,11.731531,NaN
396,16075,LK Saale-Orla-Kreis,Saale-Orla-Kreis,Landkreis,Thüringen,50.580848,11.710574,NaN
397,16076,LK Greiz,Greiz,Landkreis,Thüringen,50.748460,12.074071,NaN
398,16077,LK Altenburger Land,Altenburger Land,Landkreis,Thüringen,50.956425,12.399131,NaN
399,3159,LK Göttingen,Göttingen,Landkreis,Niedersachsen,51.540120,9.930627,3.0

## Strategy

- iterate over all Landkreise
- assign every Landkreis the weather station that is closest to it

In [159]:
def assign_weather_station_to_landkreis(df_stations, df_lk, df_weather):
    """Compares the center of each Landkreis with the location of each weather station
       and finds the one station that is closest to a particular Landkreis center.
    """
    
    # filter out stations that don't provide data in df_weather
    not_allowed = pd.concat([df_stations, df_weather]).drop_duplicates('station_id', keep=False)
    df_stations = df_stations[~df_stations['station_id'].isin(not_allowed['station_id'])]
    
    closest_station_dict = {}
    for lk_idx, lk_row in tqdm(df_lk.iterrows()):
        idLandkreis = lk_row['IdLandkreis']
        for idx, row in df_stations.iterrows():
            # check if we actually have data from the current station
            #if row['station_id'] not in allowed_station_ids:
                #continue
            
            
            # calculate distance between station and landkreis center
            lk_lat = lk_row['latitude']
            lk_lon = lk_row['longitude']

            station_lat = row['latitude']
            station_lon = row['longitude']

            a = station_lat - lk_lat
            b = station_lon - lk_lon
            distance = math.sqrt(a*a + b*b)

            if idLandkreis not in closest_station_dict.keys():
                closest_station_dict[idLandkreis] = {'station_id': row['station_id'], 'distance': distance}
            else:
                # check if current station is closer to landkreis
                if distance < closest_station_dict[idLandkreis]['distance']:
                    closest_station_dict[idLandkreis] = {'station_id': row['station_id'], 'distance': distance}
    df = pd.DataFrame.from_dict(closest_station_dict, orient='index').reset_index()
    df.rename(columns={'index': "IdLandkreis"}, inplace=True)
    return df

In [178]:
dupl = pd.concat([df_temp_stations, df_temp]).drop_duplicates('station_id', keep=False)
#df_temp.groupby('station_id').mean()
#df_temp_stations
df_temp_stations[~df_temp_stations['station_id'].isin(dupl['station_id'])]

,station_id,start_date,end_date,altitude,latitude,longitude,name,state
1,44,2007-04-01,2020-05-02,44,52.9336,8.2370,Großenkneten,Niedersachsen
4,73,2007-04-01,2020-05-02,340,48.6159,13.0506,Aldersbach-Kriestorf,Bayern
5,78,2004-11-01,2020-05-02,65,52.4853,7.9126,Alfhausen,Niedersachsen
6,91,2004-09-01,2020-05-02,300,50.7446,9.3450,Alsfeld-Eifa,Hessen
7,96,2019-04-09,2020-05-02,50,52.9437,12.8518,Neuruppin-Alt Ruppin,Brandenburg
...,...,...,...,...,...,...,...,...
651,13965,2008-12-01,2020-05-02,619,48.2639,8.8134,Balingen-Bronnhaupten,Baden-Württemberg
654,15000,2011-04-01,2020-05-02,231,50.7983,6.0244,Aachen-Orsbach,Nordrhein-Westfalen
655,15207,2013-11-01,2020-05-02,317,51.2835,9.3590,Schauenburg-Elgershausen,Hessen
656,15444,2014-09-01,2020-05-02,593,48.4418,9.9216,Ulm-Mähringen,Baden-Württemberg
657,15555,2016-05-01,2020-05-02,816,47.8761,10.5848,Kaufbeuren-Oberbeuren,Bayern

In [160]:
# these variables contain the assiciation of Landkreis to weather station
temp_lk_stations = assign_weather_station_to_landkreis(df_temp_stations, df_lk, df_temp)
prec_lk_stations = assign_weather_station_to_landkreis(df_prec_stations, df_lk, df_prec)
sun_lk_stations = assign_weather_station_to_landkreis(df_sun_stations, df_lk, df_sun)
sun_lk_stations

0it [00:00, ?it/s]
1it [00:00,  5.29it/s]
2it [00:00,  5.67it/s]
3it [00:00,  6.05it/s]
4it [00:00,  6.05it/s]
5it [00:00,  6.65it/s]
6it [00:00,  7.02it/s]
7it [00:01,  7.37it/s]
8it [00:01,  7.39it/s]
9it [00:01,  7.42it/s]
10it [00:01,  7.43it/s]
11it [00:01,  7.62it/s]
12it [00:01,  7.83it/s]
13it [00:01,  7.93it/s]
14it [00:01,  8.11it/s]
15it [00:02,  7.96it/s]
16it [00:02,  8.05it/s]
17it [00:02,  8.07it/s]
18it [00:02,  8.24it/s]
19it [00:02,  8.10it/s]
20it [00:02,  7.54it/s]
21it [00:02,  7.11it/s]
22it [00:02,  6.74it/s]
23it [00:03,  6.27it/s]
24it [00:03,  6.15it/s]
25it [00:03,  6.32it/s]
26it [00:03,  6.13it/s]
27it [00:03,  6.46it/s]
28it [00:03,  6.38it/s]
29it [00:04,  6.37it/s]
30it [00:04,  6.58it/s]
31it [00:04,  6.70it/s]

KeyboardInterrupt:

In [111]:
sun_lk_stations

     IdLandkreis  station_id  distance
0           1001        4405  0.212372
1           1002        6163  0.271422
2           1003        3086  0.075366
3           1004        3538  0.051228
4           1051        7298  0.399268
..           ...         ...       ...
395        16074        3289  0.183667
396        16075        2992  0.073163
397        16076        7419  0.087473
398        16077        7328  0.104567
399         3159        3348  0.204420

[400 rows x 3 columns]

## Plot Landkreis-Weather Station Assignment

In [101]:
temp_stations = temp_lk_stations.merge(df_lk, on='IdLandkreis').merge(df_temp_stations, on='station_id').drop(columns=['Name kurz', 'Typ', 'Bundesland', 'start_date', 'end_date', 'state'])
temp_stations.rename(columns={'latitude_x': 'lk_latitude', 'longitude_x': 'lk_longitude', 'latitude_y': 'station_latitude', 'longitude_y': 'station_longitude'}, inplace=True)

prec_stations = prec_lk_stations.merge(df_lk, on='IdLandkreis').merge(df_prec_stations, on='station_id').drop(columns=['Name kurz', 'Typ', 'Bundesland', 'start_date', 'end_date', 'state'])
prec_stations.rename(columns={'latitude_x': 'lk_latitude', 'longitude_x': 'lk_longitude', 'latitude_y': 'station_latitude', 'longitude_y': 'station_longitude'}, inplace=True)

sun_stations = sun_lk_stations.merge(df_lk, on='IdLandkreis').merge(df_sun_stations, on='station_id').drop(columns=['Name kurz', 'Typ', 'Bundesland', 'start_date', 'end_date', 'state'])
sun_stations.rename(columns={'latitude_x': 'lk_latitude', 'longitude_x': 'lk_longitude', 'latitude_y': 'station_latitude', 'longitude_y': 'station_longitude'}, inplace=True)


prec_stations

,IdLandkreis,station_id,distance,Landkreis,lk_latitude,lk_longitude,IdBundesland,altitude,station_latitude,station_longitude,name
0,1001,1130,0.173220,SK Flensburg,54.784993,9.438528,NaN,17,54.6282,9.3649,Eggebek
1,1002,2564,0.053728,SK Kiel,54.324841,10.132244,NaN,28,54.3776,10.1424,Kiel-Holtenau
2,1003,4602,0.072251,SK Lübeck,53.872317,10.727283,NaN,26,53.9385,10.6983,"Schwartau,Bad -Groß Parin"
3,1004,7427,0.085809,SK Neumünster,54.081124,9.984482,NaN,17,54.0188,9.9255,Padenstedt (Pony-Park)
4,1051,1200,0.116370,LK Dithmarschen,54.132911,9.107814,NaN,3,54.0691,9.0105,Elpersbüttel
...,...,...,...,...,...,...,...,...,...,...,...
395,16074,550,0.066969,LK Saale-Holzland-Kreis,50.904172,11.731531,NaN,344,50.9041,11.7985,Bobeck
396,16075,4464,0.094418,LK Saale-Orla-Kreis,50.580848,11.710574,NaN,501,50.5679,11.8041,Schleiz
397,16076,7419,0.087473,LK Greiz,50.748460,12.074071,NaN,389,50.6610,12.0756,Langenwetzendorf-Göttendorf
398,16077,4997,0.060851,LK Altenburger Land,50.956425,12.399131,NaN,196,50.9771,12.3419,Starkenberg-Tegkwitz
399,3159,1691,0.044683,LK Göttingen,51.540120,9.930627,3.0,167,51.5002,9.9507,Göttingen

## Build Final Dataframe
Eventually, we want to have weather parameters for each day for each Landkreis. So far, the measurements are on an hourly resolution. I take the daily mean of the temperatures, and the sum of the precipitatino and sunshine hour data per day. 

Finally, all data is merged into a single dataframe that holds the temperature, precipitation and sunshine measurements for a particular day in a given Landkreis in one row.

In [119]:
temp_lk_stations[temp_lk_stations['station_id'] == 2565]

   IdLandkreis  station_id  distance
1         1002        2565  0.041424

In [122]:
df_temp['station_id']

10248    1297
10249    1297
10250    1297
10251    1297
10252    1297
         ...
13195    5017
13196    5017
13197    5017
13198    5017
13199    5017
Name: station_id, Length: 2901798, dtype: int64

In [126]:
df_temp[df_temp['station_id'] == 2565]

Empty DataFrame
Columns: [station_id, date, quality, temperature, humidity]
Index: []

In [127]:
2565 in df_temp['station_id'].values

False

In [114]:
lel = df_temp.groupby('station_id').mean().reset_index()
pd.concat([temp_lk_stations, lel]).drop_duplicates('station_id', keep=False)

     IdLandkreis  station_id  distance   quality  temperature   humidity
1         1002.0        2565  0.041424       NaN          NaN        NaN
15        2000.0        6254  0.068223       NaN          NaN        NaN
44        3402.0        1219  0.018324       NaN          NaN        NaN
52        3455.0        2456  0.104945       NaN          NaN        NaN
58        3461.0        6184  0.283048       NaN          NaN        NaN
..           ...         ...       ...       ...          ...        ...
490          NaN       13965       NaN  1.813008     5.842412  70.088415
491          NaN       15000       NaN  1.813008     7.315549  72.025407
492          NaN       15207       NaN  1.813008     5.777220  73.284584
493          NaN       15444       NaN  1.813008     4.996816  73.638550
494          NaN       15555       NaN  1.813008     5.212060  66.731030

[332 rows x 6 columns]

In [78]:
#df_temp.groupby(['station_id', pd.Grouper(key='date', freq='D')]).mean().reset_index().merge(temp_lk_stations, on='station_id').merge(df_lk, on="IdLandkreis")
temp = df_temp.groupby(['station_id', pd.Grouper(key='date', freq='D')]).mean().reset_index()
prec = df_prec.groupby(['station_id', pd.Grouper(key='date', freq='D')]).sum().reset_index()
sun = df_sun.groupby(['station_id', pd.Grouper(key='date', freq='D')]).sum().reset_index()

In [79]:
temp

       station_id       date  quality  temperature   humidity
0              44 2020-01-01        3    -1.045833  98.625000
1              44 2020-01-02        3    -0.045833  97.458333
2              44 2020-01-03        3     6.495833  92.666667
3              44 2020-01-04        3     4.762500  88.916667
4              44 2020-01-05        3     4.162500  92.625000
...           ...        ...      ...          ...        ...
60634       15555 2020-04-28        1    12.466667  70.250000
60635       15555 2020-04-29        1     7.837500  84.791667
60636       15555 2020-04-30        1     8.462500  77.375000
60637       15555 2020-05-01        1     7.833333  81.125000
60638       15555 2020-05-02        1     5.929167  88.083333

[60639 rows x 5 columns]

In [87]:
temp_lk_stations

     IdLandkreis  station_id  distance
0           1001        1666  0.079469
1           1002        2564  0.053728
2           1003        3086  0.075366
3           1004        7427  0.085809
4           1051        1200  0.116370
..           ...         ...       ...
395        16074        2444  0.149998
396        16075        4464  0.094418
397        16076        7419  0.087473
398        16077        4997  0.060851
399         3159        1691  0.044683

[400 rows x 3 columns]

In [93]:
#temp_final = temp_lk_stations.merge(temp, on="station_id")
pd.concat([temp, temp_lk_stations]).drop_duplicates('station_id', keep=False)

     station_id date  quality  temperature  humidity  IdLandkreis  distance
141        6242  NaT      NaN          NaN       NaN       7111.0  0.108783
164        6243  NaT      NaN          NaN       NaN       7318.0  0.079443
211        6246  NaT      NaN          NaN       NaN       8337.0  0.075865

In [63]:
temp_final = temp.merge(temp_lk_stations, on="station_id").merge(df_lk, on="IdLandkreis").merge(df_temp_stations, on="station_id")
temp_final.drop(columns=['quality', 'station_id', 'Name kurz', 'start_date', 'end_date', 'altitude', 'state', 'Typ', 'Bundesland'], inplace=True)
temp_final.rename(columns={'latitude_x': 'lk_latitude', 'longitude_x': 'lk_longitude', 'latitude_y': 'station_latitude', 'longitude_y': 'station_longitude', 'name': 'station_name'}, inplace=True)
temp_final = temp_final[['date', 'temperature', 'humidity', 'IdLandkreis', 'Landkreis', 'lk_latitude', 'lk_longitude', 'station_name', 'station_latitude', 'station_longitude']]
temp_final

,date,temperature,humidity,IdLandkreis,Landkreis,lk_latitude,lk_longitude,station_name,station_latitude,station_longitude
0,2020-01-01,-1.045833,98.625000,3403,SK Oldenburg,53.144578,8.224359,Großenkneten,52.9336,8.2370
1,2020-01-02,-0.045833,97.458333,3403,SK Oldenburg,53.144578,8.224359,Großenkneten,52.9336,8.2370
2,2020-01-03,6.495833,92.666667,3403,SK Oldenburg,53.144578,8.224359,Großenkneten,52.9336,8.2370
3,2020-01-04,4.762500,88.916667,3403,SK Oldenburg,53.144578,8.224359,Großenkneten,52.9336,8.2370
4,2020-01-05,4.162500,92.625000,3403,SK Oldenburg,53.144578,8.224359,Großenkneten,52.9336,8.2370
...,...,...,...,...,...,...,...,...,...,...
48509,2020-04-28,12.466667,70.250000,9778,LK UnterallgÃ¤u,48.039813,10.389233,Kaufbeuren-Oberbeuren,47.8761,10.5848
48510,2020-04-29,7.837500,84.791667,9778,LK UnterallgÃ¤u,48.039813,10.389233,Kaufbeuren-Oberbeuren,47.8761,10.5848
48511,2020-04-30,8.462500,77.375000,9778,LK UnterallgÃ¤u,48.039813,10.389233,Kaufbeuren-Oberbeuren,47.8761,10.5848
48512,2020-05-01,7.833333,81.125000,9778,LK UnterallgÃ¤u,48.039813,10.389233,Kaufbeuren-Oberbeuren,47.8761,10.5848
48513,2020-05-02,5.929167,88.083333,9778,LK UnterallgÃ¤u,48.039813,10.389233,Kaufbeuren-Oberbeuren,47.8761,10.5848

In [64]:
prec_final = prec.merge(prec_lk_stations, on="station_id").merge(df_lk, on="IdLandkreis").merge(df_prec_stations, on="station_id")
prec_final.drop(columns=['R1_IND', 'quality', 'station_id', 'WRTR', 'Name kurz', 'start_date', 'end_date', 'altitude', 'state', 'Typ', 'Bundesland'], inplace=True)
prec_final.rename(columns={'R1': 'precipitation', 'latitude_x': 'lk_latitude', 'longitude_x': 'lk_longitude', 'latitude_y': 'station_latitude', 'longitude_y': 'station_longitude', 'name': 'station_name'}, inplace=True)
prec_final = prec_final[['date', 'precipitation', 'IdLandkreis', 'Landkreis', 'lk_latitude', 'lk_longitude', 'station_name', 'station_latitude', 'station_longitude']]
prec_final

,date,precipitation,IdLandkreis,Landkreis,lk_latitude,lk_longitude,station_name,station_latitude,station_longitude
0,2020-01-01,0.0,6535,LK Vogelsbergkreis,50.638119,9.271380,Alsfeld-Eifa,50.7446,9.3450
1,2020-01-02,0.0,6535,LK Vogelsbergkreis,50.638119,9.271380,Alsfeld-Eifa,50.7446,9.3450
2,2020-01-03,0.7,6535,LK Vogelsbergkreis,50.638119,9.271380,Alsfeld-Eifa,50.7446,9.3450
3,2020-01-04,2.7,6535,LK Vogelsbergkreis,50.638119,9.271380,Alsfeld-Eifa,50.7446,9.3450
4,2020-01-05,0.4,6535,LK Vogelsbergkreis,50.638119,9.271380,Alsfeld-Eifa,50.7446,9.3450
...,...,...,...,...,...,...,...,...,...
48583,2020-04-28,15.2,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848
48584,2020-04-29,25.9,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848
48585,2020-04-30,4.1,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848
48586,2020-05-01,2.2,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848
48587,2020-05-02,15.6,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848

In [65]:
sun_final = sun.merge(sun_lk_stations, on="station_id").merge(df_lk, on="IdLandkreis").merge(df_sun_stations, on="station_id")
sun_final.drop(columns=['quality', 'station_id', 'Name kurz', 'start_date', 'end_date', 'altitude', 'state', 'Typ', 'Bundesland'], inplace=True)
sun_final.rename(columns={'SD_SO': 'sunshine', 'latitude_x': 'lk_latitude', 'longitude_x': 'lk_longitude', 'latitude_y': 'station_latitude', 'longitude_y': 'station_longitude', 'name': 'station_name'}, inplace=True)
sun_final = sun_final[['date', 'sunshine', 'IdLandkreis', 'Landkreis', 'lk_latitude', 'lk_longitude', 'station_name', 'station_latitude', 'station_longitude']]
sun_final

,date,sunshine,IdLandkreis,Landkreis,lk_latitude,lk_longitude,station_name,station_latitude,station_longitude
0,2020-01-01,162.0,7331,LK Alzey-Worms,49.759441,8.157185,Alzey,49.7273,8.1164
1,2020-01-02,0.0,7331,LK Alzey-Worms,49.759441,8.157185,Alzey,49.7273,8.1164
2,2020-01-03,13.0,7331,LK Alzey-Worms,49.759441,8.157185,Alzey,49.7273,8.1164
3,2020-01-04,19.0,7331,LK Alzey-Worms,49.759441,8.157185,Alzey,49.7273,8.1164
4,2020-01-05,0.0,7331,LK Alzey-Worms,49.759441,8.157185,Alzey,49.7273,8.1164
...,...,...,...,...,...,...,...,...,...
18502,2020-04-28,235.0,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848
18503,2020-04-29,243.0,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848
18504,2020-04-30,60.0,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848
18505,2020-05-01,191.0,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848
18506,2020-05-02,79.0,9777,LK OstallgÃ¤u,47.769959,10.639732,Kaufbeuren-Oberbeuren,47.8761,10.5848

In [77]:
sun_final.groupby('station_name').count()

,date,sunshine,IdLandkreis,Landkreis,lk_latitude,lk_longitude,station_latitude,station_longitude
station_name,,,,,,,,
Aachen-Orsbach,123,123,123,123,123,123,123,123
Alfeld,123,123,123,123,123,123,123,123
Alzey,123,123,123,123,123,123,123,123
Andernach,121,121,121,121,121,121,121,121
Attenkam,123,123,123,123,123,123,123,123
...,...,...,...,...,...,...,...,...
Wittenberg,123,123,123,123,123,123,123,123
Wittingen-Vorhop,123,123,123,123,123,123,123,123
Wunsiedel-Schönbrunn,123,123,123,123,123,123,123,123
Würzburg,246,246,246,246,246,246,246,246
Zehdenick,123,123,123,123,123,123,123,123

## Export

In [67]:
temp_final.to_pickle(Path.joinpath(path_export, "temp_final.pkl"))
prec_final.to_pickle(Path.joinpath(path_export, "prec_final.pkl"))
sun_final.to_pickle(Path.joinpath(path_export, "sun_final.pkl"))

df_lk.to_pickle(Path.joinpath(path_export, "landkreise.pkl"))

temp_stations.to_pickle(Path.joinpath(path_export, "temp_stations_assigned.pkl"))
prec_stations.to_pickle(Path.joinpath(path_export, "prec_stations_assigned.pkl"))
sun_stations.to_pickle(Path.joinpath(path_export, "sun_stations_assigned.pkl"))

In [66]:
prec_stations

,IdLandkreis,station_id,distance,Landkreis,lk_latitude,lk_longitude,altitude,station_latitude,station_longitude,name
0,1001,1130,0.173220,SK Flensburg,54.784993,9.438528,17,54.6282,9.3649,Eggebek
1,1002,2564,0.053728,SK Kiel,54.324841,10.132244,28,54.3776,10.1424,Kiel-Holtenau
2,1003,4602,0.072251,SK Lübeck,53.872317,10.727283,26,53.9385,10.6983,"Schwartau,Bad -Groß Parin"
3,1004,3538,0.051228,SK Neumünster,54.081124,9.984482,20,54.0833,9.9333,Neumünster-Wasbek
4,1051,1200,0.116370,LK Dithmarschen,54.132911,9.107814,3,54.0691,9.0105,Elpersbüttel
...,...,...,...,...,...,...,...,...,...,...
394,16071,5424,0.049946,LK Weimarer Land,50.971572,11.373553,328,51.0177,11.3544,Weimar-Schöndorf
395,16072,3248,0.024237,LK Sonneberg,50.414631,11.132953,516,50.3904,11.1324,Frankenblick-Mengersgereuth-Hämmern
396,16073,4605,0.115688,LK Saalfeld-Rudolstadt,50.637798,11.309116,277,50.6441,11.1936,Schwarzburg
397,16074,550,0.066969,LK Saale-Holzland-Kreis,50.904172,11.731531,344,50.9041,11.7985,Bobeck
398,16075,2992,0.073163,LK Saale-Orla-Kreis,50.580848,11.710574,495,50.5276,11.6604,Remptendorf